:root {
    --blueberry-color:  #6b7a8f;
    --apricot-color:    #f7882f;
    --citrus-color:     #f7c331;
    --apple_core-color: #dcc7aa;
}

body {    
    background-color: var(--apple_core-color);
    padding-top: 50px;
}

.jumbotron {
    color: white;
    background-color: var(--apricot-color);
}

.img-placeholder {
    background-color: var(--citrus-color);
    height: 219px;
    width: 292px;
}

.portfolio {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;     
    justify-content: space-between;
    align-content: space-between;
}

.portfolio-item {
    width: 300px;
    background-color: var(--blueberry-color);
}

.info-card {
    color: white;
    background-color: var(--blueberry-color); 
}
