:root {
    --blueberry-color:  #6b7a8f;
    --apricot-color:    #f7882f;
    --citrus-color:     #f7c331;
    --apple_core-color: #dcc7aa;
}

body {    
    background-color: var(--apple_core-color);
    padding-top: 50px;
}

maincontent {
    background-color: white;
    padding-top: 10px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px; /* Set the fixed height of the footer here */
    line-height: 50px; /* Vertically center the text there */
    color: white;
    background-color: var(--blueberry-color);
}

banda {
    color: white;
    background-color: var(--blueberry-color);
}